In [74]:
import pandas as pd
import requests
from census import Census


from config import (api_key)
c = Census(api_key, year=2013)

In [75]:

census_data = c.acs5.get(("NAME", "B01003_001E"), {'for': 'metropolitan statistical area/micropolitan statistical area:*'})

census_pd = pd.DataFrame(census_data)


census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "NAME": "Name", "metropolitan statistical area/micropolitan statistical area": "MSA"})

In [76]:
phoenix = census_pd[census_pd['MSA'].str.match('38060')]
sd = census_pd[census_pd['MSA'].str.match('41740')]
miami = census_pd[census_pd['MSA'].str.match('33100')]
tampa = census_pd[census_pd['MSA'].str.match('45300')]
nyc = census_pd[census_pd['MSA'].str.match('35620')]
milwaukee = census_pd[census_pd['MSA'].str.match('33340')]
kc = census_pd[census_pd['MSA'].str.match('28140')]
cleveland = census_pd[census_pd['MSA'].str.match('17460')]
cinci = census_pd[census_pd['MSA'].str.match('17140')]
pitt = census_pd[census_pd['MSA'].str.match('38300')]
denver = census_pd[census_pd['MSA'].str.match('19740')]
baltimore = census_pd[census_pd['MSA'].str.match('12580')]
minneapolis = census_pd[census_pd['MSA'].str.match('33460')]
seattle = census_pd[census_pd['MSA'].str.match('42660')]
sf = census_pd[census_pd['MSA'].str.match('41860')]
detroit = census_pd[census_pd['MSA'].str.match('19820')]
boston = census_pd[census_pd['MSA'].str.match('71650')]
atl = census_pd[census_pd['MSA'].str.match('12060')]
dc = census_pd[census_pd['MSA'].str.match('47900')]
houston = census_pd[census_pd['MSA'].str.match('26420')]
philly = census_pd[census_pd['MSA'].str.match('37980')]
dallas = census_pd[census_pd['MSA'].str.match('19100')]
chicago = census_pd[census_pd['MSA'].str.match('16980')]
la = census_pd[census_pd['MSA'].str.match('31100')]
stl = census_pd[census_pd['MSA'].str.match('41180')]

In [77]:
milwaukee

                                             Name  Population    MSA
825  Milwaukee-Waukesha-West Allis, WI Metro Area   1560621.0  33340