In [74]:
import pandas as pd
import requests
from census import Census


from config import (api_key)
c = Census(api_key, year=2013)

In [75]:

census_data = c.acs5.get(("NAME", "B01003_001E"), {'for': 'metropolitan statistical area/micropolitan statistical area:*'})

census_pd = pd.DataFrame(census_data)


census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "NAME": "Name", "metropolitan statistical area/micropolitan statistical area": "MSA"})

In [76]:
ari = census_pd[census_pd['MSA'].str.match('38060')]
sd = census_pd[census_pd['MSA'].str.match('41740')]
mia = census_pd[census_pd['MSA'].str.match('33100')]
tb = census_pd[census_pd['MSA'].str.match('45300')]
nym = census_pd[census_pd['MSA'].str.match('35620')]
nyy = census_pd[census_pd['MSA'].str.match('35620')]
mil = census_pd[census_pd['MSA'].str.match('33340')]
kc = census_pd[census_pd['MSA'].str.match('28140')]
cle = census_pd[census_pd['MSA'].str.match('17460')]
cin = census_pd[census_pd['MSA'].str.match('17140')]
pit = census_pd[census_pd['MSA'].str.match('38300')]
col = census_pd[census_pd['MSA'].str.match('19740')]
bal = census_pd[census_pd['MSA'].str.match('12580')]
minn = census_pd[census_pd['MSA'].str.match('33460')]
sea = census_pd[census_pd['MSA'].str.match('42660')]
sf = census_pd[census_pd['MSA'].str.match('41860')]
oak = census_pd[census_pd['MSA'].str.match('41860')]
det = census_pd[census_pd['MSA'].str.match('19820')]
bos = census_pd[census_pd['MSA'].str.match('71650')]
atl = census_pd[census_pd['MSA'].str.match('12060')]
wsh = census_pd[census_pd['MSA'].str.match('47900')]
hou = census_pd[census_pd['MSA'].str.match('26420')]
phi = census_pd[census_pd['MSA'].str.match('37980')]
tex = census_pd[census_pd['MSA'].str.match('19100')]
chc = census_pd[census_pd['MSA'].str.match('16980')]
cws = census_pd[census_pd['MSA'].str.match('16980')]
laa = census_pd[census_pd['MSA'].str.match('31100')]
lad = census_pd[census_pd['MSA'].str.match('31100')]
stl = census_pd[census_pd['MSA'].str.match('41180')]

                                             Name  Population    MSA
479  San Francisco-Oakland-Hayward, CA Metro Area   4402729.0  41860